/* styles/Sidebar.module.css */

.sidebar {
  width: 8vw; /* Adjust as needed */
  background-color: #2c3e50; /* Dark blue from your mockup */
  color: white;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full viewport height */
  position: fixed; /* Fixed position */
  left: 0;
  top: 0;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  z-index: 160; /* Ensure it's on top */
}

.titleContainer {
  padding: 0 20px 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 20px;
}

.title {
  font-size: 1vw;
  font-weight: bold;
  margin-bottom: 5px;
}

.subtitle {
  font-size: 1vw;
  color: #a0aec0; /* Lighter grey for subtitle */
}

.navSection {
  margin-bottom: 15px;
}

.navSectionTitle {
  font-size: 1vw;
  font-weight: 600;
  padding: 10px 20px;
  color: #a0aec0;
}

.navList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navItem {
  margin-bottom: 5px;
}

.navLink {
  display: block;
  padding: 12px 20px;
  color: white;
  text-decoration: none;
  transition: background-color 0.2s ease, color 0.2s ease;
  width: 5vw;
  border-radius: 0px 10px 10px 0px;
}

.navLink:hover {
  background-color: #3d5b79; /* Slightly lighter blue on hover */
  width: 5vw;
  border-radius: 0px 10px 10px 0px;
}

.active {
  background-color: #3498db; /* Blue from your mockup for active link */
  font-weight: bold;
  border-radius: 0px 10px 10px 0px;
  width: 5vw;
}